  <h1>Roles</h1>

  <div id='response' class="response col-md-12">

  </div>

  <% @users.each do |user| %>
    <div id='user_list' class="menu">
      <section id="usersignin" class="col-md-12">
        <h4><%= user.first_name %> <%= user.last_name %></h4>
        <p><%= user.email %></p>
        <%= select_tag(:roles, options_from_collection_for_select(Role.all, 'id','name',user.role_id).html_safe, multiple: false, class: 'role_select control', id: user.id.to_s) %>
      </section>
    </div>
    </br>
  <% end %>
