
// @import "bootstrap-sprockets";
@import "bootstrap";

.work_div {
  margin-left: auto;
  margin-right: auto;
  width:20em;
}

.control {
  border: 1px solid lightgrey;
}

.link_white {
  color: white;
}

a:visited {
    color: white;
}
